<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="css/LoginSignup.css" />
  </head>

  <body>
    <%-include ('Navbar')%>
    <section class="forms-section">
      <div class="form-wrapper is-active">
        <form class="form form-login" action="/login"  method="post">
          <fieldset>
            <legend>Please, enter your email and password for login.</legend>
            <div class="input-block">
              <label for="login-email">E-mail</label>
              <input id="login-email" type="email" required />
            </div>
            <div class="input-block">
              <label for="login-password">Password</label>
              <input id="login-password" type="password" required />
            </div>
          </fieldset>
          <button type="submit" class="btn-login">Login</button>
        </form>
      </div>
    </section>
  </body>
</html>
