<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/LoginSignup.css">

</head>
<body>
    <button type="button" class="switcher switcher-login">
        Login
        <span class="underline"></span>
    </button>
    <button type="button" class="switcher switcher-signup">
        Sign Up
        <span class="underline"></span>
      </button>
</body>
<script src="js/toggler.js"></script>
</html>