<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup</title>
    <link rel="stylesheet" href="css/LoginSignup.css" />
  </head>

  <body>
    <%-include ('Navbar')%>
    <section class="forms-section">
      <div class="form-wrapper is-active">
        <form class="form" action="/signup"  method="post">
          <fieldset>
            <legend>
              Please, enter your email, password and password confirmation for
              sign up.
            </legend>
            <div class="input-block">
              <label for="signup-email">User Name</label>
              <input id="signup-email" name="username" type="text" required />
            </div>
            <div class="input-block">
              <label for="signup-email">E-mail</label>
              <input id="signup-email" name="email" type="email" required />
            </div>
            <div class="input-block">
              <label for="signup-password">Password</label>
              <input id="signup-password" name="password" type="password" required />
            </div>
          </fieldset>
          <button type="submit" class="btn-signup">Register</button>
        </form>
      </div>
    </section>
  </body>
</html>
