<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Books</h1>
    <form action="/addBook" method="post">
         <input type="text" name="bookName">
         <input type="text" name="des">
         <input type="text" name="author">
         <input type="text" name="price">
         <input type="submit">
    </form>
</body>
</html>