<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
</head>
<body>
    <h1>Data</h1>
    <% arr.map((el)=>{ %>
          <h1><%= el.heading %></h1>
          <p><%= el.des %></p>
          <a href="/data/<%= el.id %>">Delete</a>
          <a href="/edit/<%= el.id %>">Edit</a>
    <%})%>
</body>
</html>